<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>News Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let speaker of speakers">
        <ion-card>

          <img src="assets/img/alone-at-beach.png"/>
      
          <ion-card-content>
            <ion-card-title>
              Nine Inch Nails Live
            </ion-card-title>
            <p>
              The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
            </p>
          </ion-card-content>
      
          <ion-row no-padding>
            <ion-col>
              <button ion-button clear small color="danger" icon-start>
                <ion-icon name='star'></ion-icon>
                Favorite
              </button>
            </ion-col>
            <ion-col text-center>
              <button ion-button clear small color="danger" icon-start>
                <ion-icon name='musical-notes'></ion-icon>
                Listen
              </button>
            </ion-col>
            <ion-col text-right>
              <button ion-button clear small color="danger" icon-start>
                <ion-icon name='share-alt'></ion-icon>
                Share
              </button>
            </ion-col>
          </ion-row>
      
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

