<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-padding">
    <ion-img src="assets/icon/logo.png" class="logo"></ion-img>
    <h2>Welcome Back</h2>
    <p>Please sign in to continue</p>
  </div>

  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="email"
        formControlName="email"
        [class.ion-invalid]="credentials.get('email')?.invalid && credentials.get('email')?.touched">
      </ion-input>
      <ion-note slot="error" *ngIf="credentials.get('email')?.invalid && credentials.get('email')?.touched">
        Please enter a valid email
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        [class.ion-invalid]="credentials.get('password')?.invalid && credentials.get('password')?.touched">
      </ion-input>
      <ion-note slot="error" *ngIf="credentials.get('password')?.invalid && credentials.get('password')?.touched">
        Password must be at least 6 characters
      </ion-note>
    </ion-item>

    <ion-button
      expand="block"
      type="submit"
      [disabled]="!credentials.valid"
      class="ion-margin-top">
      Login
    </ion-button>

    <ion-button
      expand="block"
      fill="clear"
      (click)="forgotPassword()"
      class="ion-margin-top">
      Forgot Password?
    </ion-button>

    <div class="ion-text-center ion-margin-top">
      <p>Don't have an account?</p>
      <ion-button
        expand="block"
        fill="outline"
        routerLink="/signup">
        Sign Up
      </ion-button>
    </div>
  </form>
</ion-content>
