<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo-container">
    <ion-img src="assets/icon/logo.png" class="logo" alt="Safe Space Logo"></ion-img>
    <div class="welcome-text">
      <h2>Welcome Back</h2>
      <p>Sign in to continue</p>
    </div>
  </div>

  <div class="form-container">
    <form [formGroup]="credentials" (ngSubmit)="login()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">
        Please enter a valid email address
      </ion-note>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">
        Password needs to be at least 6 characters
      </ion-note>

      <ion-button expand="block" type="submit" [disabled]="!credentials.valid">
        Sign In
      </ion-button>

      <ion-button expand="block" fill="clear" routerLink="/forgot-password">
        Forgot Password?
      </ion-button>

      <ion-button expand="block" fill="clear" routerLink="/signup">
        Don't have an account? Sign up
      </ion-button>
    </form>
  </div>
</ion-content>
